<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>All</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/all_s.css}" />
</head>
<body>
<div class="cont">
<div class="fl">
    <div class="fl1">
    <form method="POST" th:action="@{/all}">
        <label>Введите текст нового сообщения:
            <input type="text" name="text" placeholder="Текст сообщения" />
        </label>
        <br>
        <br>
        <br>
        <label>Введите тэг нового сообщения:
            <input type="text" name="tag" placeholder="Тэг сообщения" />
        </label>
        <br>
        <br>
        <input type="submit" value="Добавить" />
    </form>
    </div>
    <div>
        <h2><a th:href="@{/hello2}" th:text="Hello"></a>, <a th:href="@{/user}" th:text="Users"></a></h2>
    <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Выйти"/>
    </form>
    </div>
</div>
<form th:method="GET" th:action="@{/all}">
    <!--<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />--><!--прописан автоматически-->
    <label>Найти сообщения по тэгу
        <input type="text" name="fil" placeholder="Введите тэг" th:value="${tag}"/>
    </label>
    <input type="submit" value="Найти" />
</form>
<p class="sob">Список сообщений:</p>
<div class="mess" th:each="mess : ${all}">
    <p th:text="${'Id: ' + mess.getId}"></p>
    <p th:text="${'Text: ' + mess.getText}"></p>
    <p th:text="${'Tag: ' + mess.getTag}"></p>
    <p th:text="${'Author: ' + mess.getAuthorName}"></p>
    <a th:href="@{/{id}(id=${mess.getId})}"
       th:text="Изменить"></a><br>
    <form method="POST" action="/d">
        <input type="hidden" name="id" th:value="${mess.getId}" />
        <input type="submit" value="Удалить" />
    </form>
    <br>
</div>
</div>
</body>
</html>
